# 'start-at-login' needs to be 'true' for 'after-login-command' to work
# Available commands: https://nikitabobko.github.io/AeroSpace/commands
after-login-command = [
]

# You can use it to add commands that run after AeroSpace startup.
# 'after-startup-command' is run after 'after-login-command'
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = [
    'exec-and-forget brew services restart sketchybar',
    'flatten-workspace-tree',
      # 'exec-and-forget brew services start borders'
]

# Re-style icons when the workspace focus changes
exec-on-workspace-change = [
  "/bin/bash", "-c",
  'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]
# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 10
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
automatically-unhide-macos-hidden-apps = false # setting to false because this is how I use numi
# this behavior could be changed by using minimize instead of hide if desired

[key-mapping]
preset = 'qwerty'

[gaps]
inner.horizontal = 8
inner.vertical =   8
outer.left =       4
outer.bottom =     4
outer.top =        45
# outer.top =        0
outer.right =      4

# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented
# Fallback value (if you omit the key): mode.main.binding = {}
[mode.open.binding]
esc = [ 'mode main' ]
# App shortcuts
1 = [ 'exec-and-forget open -a /Applications/Ghostty.app/', 'mode main' ]
f = [ 'exec-and-forget open -a /Applications/Firefox.app/', 'mode main' ]
d = [ 'exec-and-forget open -a /Applications/Discord.app/', 'mode main' ]
s = [ 'exec-and-forget open -a /Applications/Steam.app/', 'mode main' ]

[mode.main.binding]
alt-shift-cmd-ctrl-1 = [ 'exec-and-forget open -a /Applications/Ghostty.app/', 'mode main' ]
alt-shift-cmd-ctrl-e = [ 'exec-and-forget open -a /Applications/Microsoft\ Excel.app/', 'mode main' ]
alt-shift-cmd-ctrl-w = [ 'exec-and-forget open -a /Applications/Firefox.app/', 'mode main' ]
alt-shift-cmd-ctrl-f = [ 'exec-and-forget open -a /Applications/Firefox.app/', 'mode main' ]
alt-shift-cmd-ctrl-o = [ 'exec-and-forget open -a /Applications/Obsidian.app/', 'mode main' ]
alt-shift-cmd-ctrl-d = [ 'exec-and-forget open -a /Applications/Discord.app/', 'mode main' ]
alt-shift-cmd-ctrl-s = [ 'exec-and-forget open -a /Applications/Steam.app/', 'mode main' ]

alt-shift-space = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
# alt-slash = 'layout tiles horizontal vertical'
# alt-comma = 'layout accordion horizontal vertical'
alt-e = 'layout tiles horizontal vertical'
alt-s = 'layout accordion horizontal vertical'
alt-m = 'macos-native-minimize'

# See: https://nikitabobko.github.io/AeroSpace/commands#focus
alt-h = 'focus left'
alt-j = 'focus down'
alt-k = 'focus up'
alt-l = 'focus right'

# See: https://nikitabobko.github.io/AeroSpace/commands#move
alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

# See: https://nikitabobko.github.io/AeroSpace/commands#workspace
alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-c = 'workspace C'
alt-g = 'workspace G'
alt-w = 'workspace W'

# See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
alt-shift-1 = 'move-node-to-workspace 1'
alt-shift-2 = 'move-node-to-workspace 2'
alt-shift-c = 'move-node-to-workspace C'
alt-shift-g = 'move-node-to-workspace G'
alt-shift-w = 'move-node-to-workspace W'

# See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
alt-tab = 'workspace-back-and-forth'
# See: https://nikitabobko.github.io/AeroSpace/commands#move-workspace-to-monitor
alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

# See: https://nikitabobko.github.io/AeroSpace/commands#mode
## Mode Bindings
alt-shift-semicolon = 'mode service'
alt-shift-r = 'mode resize'
alt-shift-o = 'mode open'

cmd-h = [] # Disable "hide application"
cmd-alt-h = [] # Disable "hide others"
# bi:d uparrow to fullscreen
alt-shift-up = 'fullscreen'
alt-shift-right = ['move-workspace-to-monitor right']
alt-shift-left = ['move-workspace-to-monitor left']

[mode.resize.binding]
# See: https://nikitabobko.github.io/AeroSpace/commands#resize
alt-minus = 'resize smart -50'
alt-equal = 'resize smart +50'

# See: https://nikitabobko.github.io/AeroSpace/commands#move
alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

esc = [ 'mode main' ]

[mode.service.binding]
f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
r = [
    'flatten-workspace-tree',
    'mode main'
]
shift-r = [
    'reload-config',
    # 'exec-and-forget brew services restart borders', # fixes jankyborders if they were resized
    # commenting out - this is too slow for now
    '''exec-and-forget osascript -e 'display notification "Reloaded config" with title "AeroSpace"' ''',
    'mode main'
]


alt-shift-h = ['join-with left', 'mode main']
alt-shift-j = ['join-with down', 'mode main']
alt-shift-k = ['join-with up', 'mode main']
alt-shift-l = ['join-with right', 'mode main']

esc =  [ 'mode main' ]

[mode.main]

## dev
[[on-window-detected]]
if.app-id = 'com.mitchellh.ghostty'
run = "move-node-to-workspace 1"

## finder
# [[on-window-detected]]
# if.app-id = 'com.apple.finder'
# run = "move-node-to-workspace E"

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = "move-node-to-workspace C"

[[on-window-detected]]
if.app-id = 'com.apple.MobileSMS'
run = "move-node-to-workspace C"

[[on-window-detected]]
if.app-id = 'com.valvesoftware.steam.helper'
# if.window-title-regex-substring = 'notificationtoasts_46_desktop'
if.window-title-regex-substring = '^notificationtoasts.*'
check-further-callbacks = true
run = ["layout tiling"]

[[on-window-detected]]
if.app-id = 'com.valvesoftware.steam.helper'
if.window-title-regex-substring = '^Friends List$'
check-further-callbacks = true
run = ["layout tiling", "move-node-to-workspace C"]

[[on-window-detected]]
if.app-id = 'com.valvesoftware.steam.helper'
if.window-title-regex-substring = '.*Chat*$'
check-further-callbacks = true
run = ["layout tiling", "move-node-to-workspace C"]

[[on-window-detected]]
if.app-id = 'com.valvesoftware.steam.helper'
if.window-title-regex-substring = 'Steam'
check-further-callbacks = true
run = ["layout tiling", "move-node-to-workspace G"]

[[on-window-detected]]
if.app-id = 'Slack'
# if.window-title-regex-substring = '.*Slack$'
check-further-callbacks = true
run = ["layout tiling", "move-node-to-workspace C"]

[[on-window-detected]]
if.app-id = 'org.mozilla.firefox'
if.window-title-regex-substring = 'Library'
if.workspace = 'W'
check-further-callbacks = true
run = ["layout floating"]

[[on-window-detected]]
if.app-id = 'org.mozilla.firefox'
if.window-title-regex-substring = '^Extension:.*'
if.workspace = 'W'
check-further-callbacks = true
run = ["layout floating"]

[[on-window-detected]]
if.app-id = 'org.mozilla.firefox'
run = "move-node-to-workspace W"

[[on-window-detected]]
if.app-id = 'org.mozilla.firefox'
if.window-title-regex-substring = 'Picture-in-Picture'
run = 'layout tiling'
check-further-callbacks = true

[[on-window-detected]]
if.app-id = 'md.obsidian'
run = "move-node-to-workspace W"

[[on-window-detected]]
if.app-id = 'com.microsoft.Outlook'
run = 'move-node-to-workspace 2'

## move remaining windows to a general workspace
[[on-window-detected]]
check-further-callbacks = true
run = [
    "layout floating"
    # , "move-node-to-workspace 1" -- leave this out because it keeps catching Steam notifications that are not named yet
]

